#stripe-payment{
    margin-top: 150px;
    margin-bottom: 25px;
    width: 500px; 
}

#paypal-button{
    margin-top: 25px;
    width: 500px;
}

#subscribe-stepper  {
    max-width: 100%;
    margin: auto;
    margin-top: 24px;
    padding: 20px;
    text-align: center;
}

#subscribe-stepper .mat-horizontal-content-container {
    padding-top: 36px;
}