@import "src/@fuse/scss/fuse";

.mat-form-field {
    min-width: 150px;
}

    .center {

       

        // background-color: #2D323E;

         .header {

            .search-wrapper {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;

                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
            }

            @include media-breakpoint('xs') {
                padding: 8px 0;
                height: 160px !important;
                min-height: 160px !important;
                max-height: 160px !important;
            }
        }
    }

    //  .content{
    //      overflow-y: scroll;
    //      -webkit-overflow-scrolling: touch;
    //  }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: transparent;
        border-radius: 5px;
      }


   