<div id="update-password" fxLayout="column">

    <div id="update-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="update-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/TpBluCorto.png">
            </div>

            <div class="title">{{'UPDATE_PASSWORD.CHANGE_PASSWORD' | translate}}</div> 

            <form name="updatePasswordForm" [formGroup]="updatePasswordForm" novalidate (ngSubmit)="updatePassword()">

                <mat-form-field appearance="outline">
                    <mat-label>{{'UPDATE_PASSWORD.OLD_PASSWORD' | translate}}</mat-label>
                    <input matInput type="password" formControlName="oldPassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{'UPDATE_PASSWORD.OLD_PASSWORD_REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'UPDATE_PASSWORD.NEW_PASSWORD' | translate}}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{'UPDATE_PASSWORD.NEW_PASSWORD_REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'UPDATE_PASSWORD.NEW_PASSWORD_CONFIRM' | translate}}</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="updatePasswordForm.get('passwordConfirm').hasError('required')">
                        {{'UPDATE_PASSWORD.NEW_PASSWORD_CONFIRM_REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!updatePasswordForm.get('passwordConfirm').hasError('required') &&
                                    updatePasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{'FORGOT.PASSWORD_MUST_MATCH' | translate}}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="updatePasswordForm.invalid">
                    {{'UPDATE_PASSWORD.CHANGE_PASSWORD' | translate}}
                </button>
            </form>

            <div class="error" fxLayout="column" fxLayoutAlign="center center">
                <mat-error *ngIf="error">
                    {{ errorMessage | translate }}
                </mat-error>
            </div>

            <div class="home" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/home'"> {{'SHARED.BACK' | translate}}</a>
            </div>

        </div>

    </div>

</div>
