<div class="page-layout simple fullwidth">

    <!-- CONTENT -->
    <!-- CENTER -->
    <div class="center">

         <!-- HEADER -->
         <div class="header accent p-24"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center"
         >

        <!-- APP TITLE -->
        <div class="logo mb-24 mb-sm-0"
             fxLayout="row" fxLayoutAlign="start center">
            <!-- <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Tacticalpedia</span> -->
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <!-- <div class="search-wrapper mt-40" fxFlex="50"  fxFlex.lt-md="80" fxLayout="row" fxLayoutAlign="start center">

            <div class="search" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text">search</mat-icon>
                <input  [(ngModel)]="searchInput" (ngModelChange)="setCurrentSearchInput()" [placeholder]="'HOME.SEARCH' | translate" fxFlex>
            </div>

        </div> -->

        <div class="search-wrapper  ml-sm-32">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <mat-icon style="color: #545454 !important">search</mat-icon>
                <input  [(ngModel)]="searchInput" (ngModelChange)="setCurrentSearchInput()" [placeholder]="'HOME.SEARCH' | translate">
            </div>
        </div>
        <!-- / SEARCH -->

        </div>

        

        <mat-expansion-panel fxHide.gt-xs>

            <mat-expansion-panel-header>
                {{'TRAINING_LIBRARY.FILTERS' | translate}}
            </mat-expansion-panel-header>

            <div class="mt-40 ml-24 mr-24" fxLayout="row wrap" fxLayoutAlign="center center">

                <mat-form-field class="mr-12 select-tax" appearance="outline" fxFlex="20" fxFlex.lt-sm="100">
                                        
                    <mat-label>{{'HOME.CATEGORY' | translate}}</mat-label>
                    <mat-select  [(ngModel)]="selectedCategory" (selectionChange)="setCurrentCategory()">
                        <mat-option value="" selected>{{'SHARED.ALL' | translate}}</mat-option>
                        <mat-option *ngFor="let cat of defaultCategories" [value]="cat.slug">
                            {{ cat.label | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field class="mr-12" appearance="outline" fxFlex="20" fxFlex.lt-sm="100" *ngFor="let selectT of defaultSelectTaxonomies">
                                        
                    <mat-label>{{selectT.name | translate}}</mat-label>
                    <mat-select class="select-tax" [(ngModel)]="selectedTaxonomies[selectT.name]" (selectionChange)="setCurrentTaxonomies()">
                        <mat-option value="" selected>{{'SHARED.ALL' | translate}}</mat-option>
                        <mat-option *ngFor="let o of selectT.options" [value]="o">
                            {{ o | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
            </div>

        </mat-expansion-panel>


        <div class="mt-40 ml-24 mr-24" fxLayout="row wrap" fxLayoutAlign="center center" fxHide.lt-sm>

            <mat-form-field class="mr-12 select-tax" appearance="outline" fxFlex="20">
                                    
                <mat-label>{{'HOME.CATEGORY' | translate}}</mat-label>
                <mat-select  [(ngModel)]="selectedCategory" (selectionChange)="setCurrentCategory()">
                    <mat-option value="" selected>{{'SHARED.ALL' | translate}}</mat-option>
                    <mat-option *ngFor="let cat of defaultCategories" [value]="cat.slug">
                        {{cat.label | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="mr-12" appearance="outline" fxFlex="20" *ngFor="let selectT of defaultSelectTaxonomies">
                                    
                <mat-label>{{selectT.name | translate}}</mat-label>
                <mat-select class="select-tax" [(ngModel)]="selectedTaxonomies[selectT.name]" (selectionChange)="setCurrentTaxonomies()">
                    <mat-option value="" selected>{{'SHARED.ALL' | translate}}</mat-option>
                    <mat-option *ngFor="let o of selectT.options" [value]="o">
                        {{o | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        


        <!-- CONTENT CARD -->
        <div class="content-card mt-40">

            <div class="content">

                <training-grid></training-grid>
            </div>

        </div>
        <!-- / CONTENT HEADER -->
        
    
    </div>
    
</div>
