<div class="cards">
    <div class="fuse-card">
        <img class="mainimg" src="assets/images/cards/card1.jpg" />
        <img class="authorsimg" src="assets/images/cards/card2-small.jpg" />
        <img class="authorsimg1" src="assets/images/cards/card2-small.jpg" />
        <img class="authorsimg2" src="assets/images/cards/card2-small.jpg" />

        <div class="p-16 pt-0 line-height-1.75">
            Cards provide context and an entry point to more robust information
            and views, and their content and quantity can vary greatly.
        </div>
        <button class="det" mat-button color="accent" (click)="toGroupDetails()">Primary</button>


    </div>

    <div class="fuse-card">
        <img class="mainimg" src="assets/images/cards/card1.jpg" />
        <img class="authorsimg" src="assets/images/cards/card2-small.jpg" />
        <img class="authorsimg1" src="assets/images/cards/card2-small.jpg" />
        <img class="authorsimg2" src="assets/images/cards/card2-small.jpg" />


        <div class="p-16 pt-0 line-height-1.75">
            Cards provide context and an entry point to more robust information
            and views, and their content and quantity can vary greatly.
        </div>
        <button class="det" mat-button color="accent" (click)="toGroupDetails()">Primary</button>


    </div>
</div>
