<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>{{ 'CUSTOMIZE_TRAINING.TITLE' | translate }}</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <h2>{{ 'CUSTOMIZE_TRAINING.CUSTOM_CATEGORIES' | translate }}</h2>
        <p>{{ 'CUSTOMIZE_TRAINING.CUSTOM_CATEGORIES_DESC' | translate }}</p>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

            <mat-label>{{ 'CUSTOMIZE_TRAINING.CATEGORIES' | translate }}</mat-label>

            <mat-chip-list #categoryList name="categories" >

                <mat-chip *ngFor="let category of categories"
                          [removable]="true" (removed)="this.removeCategory(category.slug)">
                    {{category.label}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input [matChipInputFor]="categoryList"
                       
                       (matChipInputTokenEnd)="this.addCategory($event)"/>

            </mat-chip-list>

        </mat-form-field>


        <mat-divider class="mt-32 mb-32"></mat-divider>



        <h2>{{ 'CUSTOMIZE_TRAINING.CUSTOM_TEXT_FIELDS' | translate }}</h2>
        <p>{{ 'CUSTOMIZE_TRAINING.CUSTOM_TEXT_FIELDS_DESC' | translate }}</p>


        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

            <mat-label>{{ 'CUSTOMIZE_TRAINING.TAXONOMIES' | translate }}</mat-label>

            <mat-chip-list #taxonomyList name="taxonomies" >

                <mat-chip *ngFor="let taxonomy of taxonomies"
                          [removable]="true" (removed)="this.removeTaxonomy(taxonomy.slug)">
                    {{taxonomy.label}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input [matChipInputFor]="taxonomyList"
                       
                       (matChipInputTokenEnd)="this.addTaxonomy($event)"/>

            </mat-chip-list>

        </mat-form-field>


        <mat-divider class="mt-32 mb-32"></mat-divider>
        

        <h2>{{ 'CUSTOMIZE_TRAINING.CUSTOM_SELECT_TAXONOMIES' | translate }}</h2>
        <p>{{ 'CUSTOMIZE_TRAINING.CUSTOM_SELECT_TAXONOMIES_DESC' | translate }}</p>

        <div class="mb-32"></div>

        <div *ngFor="let select of selectTaxonomies">

            <div class="mb-32"></div>

            <mat-form-field>
                <input matInput [value]="select.name" (change)="this.updateSelectTaxonomyName(select, $event.target.value)">
            </mat-form-field>
            
            <button mat-raised-button class="ml-12" color="warn" (click)="this.removeSelectTaxonomy(select)">
                <mat-icon>clear</mat-icon>
            </button>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                <mat-chip-list #selectTaxonomies name="selectTaxonomiesOptions" >

                    <mat-chip *ngFor="let option of select.options"
                              [removable]="true" (removed)="this.removeSelectTaxonomyOption(select, option)">
                        {{option}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
    
                    <input [matChipInputFor]="selectTaxonomies" 
                        
                        (matChipInputTokenEnd)="this.addSelectTaxonomyOption(select, $event)"/>
    
                </mat-chip-list>

            </mat-form-field>
        </div>

        <button mat-raised-button color="accent" (click)="this.addNewSelectTaxonomy()">
            {{ 'CUSTOMIZE_TRAINING.ADD_NEW_CATEGORY' | translate }}
        </button>
        

    </div>
    <!-- / CONTENT -->

</div>