<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>{{'GROUP.INSERT-FORM.TITLE' | translate}}</h2>
    </div>
    <!-- / HEADER -->


    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center center" id='insert-group-form'>



            <form fxLayout="column" [formGroup]="form" class="form-container p-24 mat-elevation-z4">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>{{'GROUP.INSERT-FORM.NAME' | translate}}</mat-label>
                    <input type="text" matInput formControlName="name" />
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>{{'GROUP.INSERT-FORM.DESCRIPTION' | translate}}</mat-label>
                    <textarea matInput rows="5" formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>{{'GROUP.INSERT-FORM.SERVICE' | translate}}</mat-label>
                    <textarea matInput rows="5" formControlName="services"></textarea>
                </mat-form-field>

                <mat-form-field class="mr-12 select-tax" appearance="outline" fxFlex="20" fxFlex.lt-sm="100">

                    <mat-label>{{'GROUP.INSERT-FORM.POLICY' | translate}}</mat-label>
                    <mat-select formControlName="policy">
                        <mat-option *ngFor="let cat of policy_options" [value]="cat">
                            {{ cat }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="mr-12 select-tax" appearance="outline" fxFlex="20" fxFlex.lt-sm="100">

                    <mat-label>{{'GROUP.INSERT-FORM.TYPOLOGY' | translate}}</mat-label>
                    <mat-select formControlName="typology">
                        <mat-option *ngFor="let cat of typology_options" [value]="cat">
                            {{ cat }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <h3>{{'GROUP.INSERT-FORM.AUTHORS' | translate}}</h3>

                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="70">
                        <mat-label>{{'GROUP.INSERT-FORM.USER' | translate}}</mat-label>
                        <input type="text" matInput formControlName="selected_user_mail" />
                    </mat-form-field>

                    <button mat-raised-button type="button" fxFlex="20" class="mb-16" color="accent"
                        (click)="addAuthors()" [disabled]="loading">
                        {{'GROUP.INSERT-FORM.ADD-AUTHOR' | translate}}
                    </button>

                    <div class="spinner-container" *ngIf="loading">
                        <mat-spinner diameter="24" class="mb-16"></mat-spinner>
                    </div>

                </div>





                <br>

                <div fxLayout="row" class="authors-container">
                    <mat-grid-list cols="2">

                        <div class="author-item">
                            <b class="auth-item-icon">
                                <mat-icon role="img" class="mat-icon v-a-m" aria-hidden="true"
                                    data-mat-icon-type="font">account_circle</mat-icon>
                            </b>
                            <b class="pr-24">
                                Me
                            </b>
                        </div>

                        <div *ngFor="let auth of authors" class="author-item">
                            <b class="auth-item-icon">
                                <mat-icon role="img" class="mat-icon v-a-m" aria-hidden="true"
                                    data-mat-icon-type="font">account_circle</mat-icon>
                            </b>
                            <b>
                                {{ auth.username }} ({{ auth.email }})
                            </b>
                            <button mat-button color="primary" type="button" (click)="deleteAuthor(auth._id)">
                                <mat-icon role="img" class="mat-icon v-a-m" aria-hidden="true"
                                    data-mat-icon-type="font">close</mat-icon>

                            </button>
                        </div>

                    </mat-grid-list>
                </div>


                <h3>{{'GROUP.INSERT-FORM.IMAGE' | translate}}</h3>
                <div class="custom-dropzone mb-24" ngx-dropzone [id]="1" [accept]="'image/*'"
                    (change)="onSelectImg($event)" [maxFileSize]="50000000">
                    <ngx-dropzone-label>
                        <div>
                            <h2>{{'INSERT_TRAINING.DRAG_AND_DROP' | translate}}</h2>
                            <p>{{'INSERT_TRAINING.OR' | translate}}</p>
                            <p>{{'INSERT_TRAINING.CLICK_TO_BROWSE' | translate}}</p>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-custom-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imgFiles"
                        [file]="f" [removable]="true" (removed)="onRemoveImg(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-custom-preview>
                </div>


                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button type="button" color="accent" (click)="insertNewGroup()"
                        [disabled]="loading">
                        {{'GROUP.INSERT-FORM.ADD-BTN' | translate}}
                    </button>

                    <div class="spinner-container" *ngIf="loading">
                        <mat-spinner diameter="24" class="mb-4 ml-16"></mat-spinner>
                    </div>

                </div>

            </form>

        </div>

    </div>


    <!-- / CONTENT -->

</div>

