<!-- <div class="page-layout simple fullwidth"> -->
<!-- <div class="page-layout simple fullwidth"> -->

<!-- HEADER -->
<!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Full width</h2>
    </div> -->
<!-- / HEADER -->

<!-- CONTENT -->
<div id="mail" class="page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg header accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <!-- <fuse-sidebar class="sidebar filter-sidebar" name="app-main-sidebar" position="left" lockedOpen="gt-md">
        <app-main-sidebar></app-main-sidebar>
    </fuse-sidebar> -->
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">

            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md (click)="toggleSidebar('app-main-sidebar')">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="search" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text">search</mat-icon>
                    <input [formControl]="searchInput" [placeholder]="'TRAINING_LIBRARY.SEARCH_PLACEHOLDER' | translate"
                        fxFlex>
                </div>

            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" [ngClass]="{'current-mail-selected':sel_group}">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">

                <!-- <div class="mail-selection" fxFlex="row" fxLayoutAlign="start center">
                    <mat-checkbox (click)="toggleSelectAll()" [checked]="hasSelectedMails"></mat-checkbox>

                    <div class="toolbar-separator"></div>

                    <button mat-icon-button (click)=deleteTrainings()>
                        <mat-icon class="secondary-text">delete</mat-icon>
                    </button>

                </div>

                <div *ngIf="sel_group" fxHide.gt-xs>
                    <button mat-icon-button (click)="deselectCurrentTraining()">
                        <mat-icon class="secondary-text">arrow_back</mat-icon>
                    </button>
                </div> -->
            </div>
            <!-- / CONTENT TOOLBAR -->

            <div class="content" fxLayout="row">

                <!-- <training-list fusePerfectScrollbar fxFlex></training-list> -->

                <div class="training-list" [@animateStagger]="{value:'50'}">
                    <app-group-item [@animate]="{value:'*',params:{y:'100%'}}" *ngFor="let group of groups"
                        [group]="group" (click)=showGroup(group)>
                    </app-group-item>
                </div>








                <div *ngIf="sel_group" class="training-detail">

                    <div class="mail-header">

                        <div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div class="subject">{{sel_group.name}}</div>
                            </div>

                            <div fxLayout="row" class="mt-24" *ngIf="showAuthorGroupForm == false">
                                <button mat-raised-button color="accent" class="training-action-button"
                                    style="margin-left: 0px" [routerLink]="['/group/'+ sel_group._id]"> View
                                    <mat-icon>launch</mat-icon>
                                </button>
                                <button mat-raised-button color="accent" class="training-action-button"
                                    [routerLink]="['/group/edit/'+ sel_group._id]"> Edit <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-raised-button color="accent" class="training-action-button"
                                    (click)="openAddGroupAuthorForm()"> Add Author <mat-icon>add</mat-icon></button>

                                <button mat-raised-button color="accent" class="training-action-button"
                                    (click)="openAddGroupMemberForm()"> Add Member <mat-icon>add</mat-icon></button>
                            </div>

                            <div fxLayout="row" class="mt-24" *ngIf="showAuthorGroupForm == true">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>New author email</mat-label>
                                        <input type="text" matInput [formControl]="authorInput"/>
                                    </mat-form-field>
                               
                            </div>

                            <div fxLayout="row" class="mt-6" *ngIf="showAuthorGroupForm == true">
                                <button mat-raised-button color="accent" class="training-action-button"
                                    (click)="AuthoraddToGroupSubmit()" [disabled]="loading"> Submit <mat-icon>check
                                    </mat-icon>
                                </button>
                                <div class="spinner-container" *ngIf="loading">
                                    <mat-spinner diameter="24" class="mb-16"></mat-spinner>
                                </div>
                            </div>


                            




                            <div fxLayout="row" class="mt-24" *ngIf="showMemberGroupForm == true">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>New member email</mat-label>
                                    <input type="text" matInput [formControl]="memberInput"/>
                                </mat-form-field>
                           
                        </div>

                        <div fxLayout="row" class="mt-6" *ngIf="showMemberGroupForm == true">
                            <button mat-raised-button color="accent" class="training-action-button"
                                (click)="MemberaddToGroupSubmit()" [disabled]="loading"> Submit <mat-icon>check
                                </mat-icon>
                            </button>
                            <div class="spinner-container" *ngIf="loading">
                                <mat-spinner diameter="24" class="mb-16"></mat-spinner>
                            </div>
                        </div>




                            <h3>Author(s)</h3>

                            <div class="label mt-4 label-user" fxLayout="row" fxLayoutAlign="start center"
                                *ngFor="let cat of sel_group.authors">
                                <div class="label-title w-75-p ">
                                    <ng-container class="blue-500 tax-label ">
                                        {{ cat.profile.name}} {{ cat.profile.surname}} ({{ cat?.email}} )
                                    </ng-container>
                                </div>

                                <button mat-button color="primary" type="button"
                                    (click)="removeAuthorFromGroupSubmit(cat._id)">
                                    <mat-icon role="img" class="mat-icon v-a-m" aria-hidden="true"
                                        data-mat-icon-type="font">close</mat-icon>

                                </button>
                            </div>

                            <h3>Member(s)</h3>

                            <div class="label mt-4 label-user" fxLayout="row" fxLayoutAlign="start center"
                                *ngFor="let cat of sel_group.subsciptions">
                                <div class="label-title w-75-p ">
                                    <ng-container class="blue-500 tax-label ">
                                        {{ cat?.profile?.name}} {{ cat?.profile?.surname}} ({{ cat?.email}} )
                                    </ng-container>
                                </div>

                                <button mat-button color="primary" type="button"
                                    (click)="removeMemberFromGroupSubmit(cat._id)">
                                    <mat-icon role="img" class="mat-icon v-a-m" aria-hidden="true"
                                        data-mat-icon-type="font">close</mat-icon>

                                </button>
                            </div>


                        </div>






                    </div>

                </div>





            </div>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

    <!-- </div> -->


</div>