<div class="page-layout carded fullwidth tabbed">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div
            class="header accent p-24"
            fxLayout="row"
            fxLayoutAlign="start center"
        >
            <h2 class="m-0">Group Name</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <mat-tab-group>
                    <mat-tab label="HOME">
                            <div class="itemshoris">
                                <label>Authors</label>
                            <textarea  name="description" rows="10"></textarea>
                        </div>
                            <mat-icon class="avatar" mat-card-avatar>account_circle</mat-icon>
                           
                      

                        <div class="description">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <label>description</label>
                           <textarea name="description" rows="10"></textarea>
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                       
                            <label>services</label>
                           <textarea name="services" rows="10"></textarea>
                        </div>
                   
                    </mat-tab>

                    <mat-tab label="LIBRARY">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->

                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="INSIGHT">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="ASK THE COACH">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->

                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="DOCS & MULTIMEDIA">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>

                    <mat-tab label="CONFERENCE ROOM">
                        <div class="tab-content p-24">
                            <!-- PUT YOUR TAB CONTENT HERE -->
                            <!-- / PUT YOUR TAB CONTENT HERE -->
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
